<ion-view hide-nav-bar="true">
    <!--头部区域-->
    <ion-header-bar class="bar-energized item-input-inset">
        <label class="item-input-wrapper border-radius-20 bg-white">
            <input type="search" placeholder="纪念日">
            <button class="button button-clear button-icon ion-ios-search button-assertive"> </button>
        </label>
    </ion-header-bar>
    <!--内容区域-->
    <ion-content id="classily">
        <ion-list>
            <ion-item>
                <ul class="w-top">
                    <li  ui-sref="tabs.list"><a class="button button-icon icon ion-ios-unlocked color_a">
                        <p>私人订制</p>
                    </a></li>
                    <li  ui-sref="tabs.list"><a class="button button-icon icon ion-social-octocat color_b">
                        <p>分期赠送</p>
                    </a></li>
                    <li  ui-sref="tabs.list"><a class="button button-icon icon ion-pricetags color_c">
                        <p>促销特惠</p>
                    </a></li>
                </ul>
            </ion-item>
            <ion-item class="item-divider">按品类分</ion-item>
            <ion-item>
                <ion-scroll direction="x">
                    <ul class="c-hot">
                    <li  ui-sref="tabs.list"><a class="button button-icon icon ion-university color_d">
                        <p>穿搭</p>
                    </a></li>
                    <li  ui-sref="tabs.list"><a class="button button-icon icon ion-camera color_e">
                        <p>数码</p>
                    </a></li>
                    <li  ui-sref="tabs.list"><a class="button button-icon icon ion-ios-game-controller-b color_f">
                        <p>娱乐</p>
                    </a></li>
                    <li  ui-sref="tabs.list"><a class="button button-icon icon ion-ios-paw color_g">
                        <p>萌宠</p>
                    </a></li>
                    <li  ui-sref="tabs.list"><a class="button button-icon icon ion-ios-football color_h">
                        <p>运动</p>
                    </a></li>
                    <li  ui-sref="tabs.list"><a class="button button-icon icon ion-social-reddit color_i">
                        <p>馋嘴</p>
                    </a></li>
                </ul>
            </ion-item>
            <ion-item class="item-divider">按节日分</ion-item>
            <ion-item>
                <ion-scroll direction="x">
                    <ul class="c-hot">
                    <li  ui-sref="tabs.list"><a class="button button-icon icon ion-settings color_j">
                        <p>生日</p>
                    </a></li>
                    <li  ui-sref="tabs.list"><a class="button button-icon icon ion-android-favorite color_k">
                        <p>纪念日</p>
                    </a></li>
                    <li  ui-sref="tabs.list"><a class="button button-icon icon ion-ios-infinite color_i">
                        <p>情人节</p>
                    </a></li>
                    <li  ui-sref="tabs.list"><a class="button button-icon icon ion-social-snapchat color_a">
                        <p>圣诞节</p>
                    </a></li>
                    <li  ui-sref="tabs.list"><a class="button button-icon icon ion-android-contact color_d">
                        <p>母亲节</p>
                    </a></li>
                    <li  ui-sref="tabs.list"><a class="button button-icon icon ion-android-person color_g">
                        <p>父亲节</p>
                    </a></li>
                </ul>
            </ion-item>
            <ion-item class="item-divider">按风格分</ion-item>
            <ion-item>
                <ion-scroll direction="x">
                    <ul class="c-hot">
                    <li  ui-sref="tabs.list"><a class="button button-icon icon ion-ios-glasses color_l">
                        <p>时尚</p>
                    </a></li>
                    <li  ui-sref="tabs.list"><a class="button button-icon icon ion-cash color_h">
                        <p>怀旧</p>
                    </a></li>
                    <li  ui-sref="tabs.list"><a class="button button-icon icon ion-social-python color_f">
                        <p>另类</p>
                    </a></li>
                    <li  ui-sref="tabs.list"><a class="button button-icon icon ion-ribbon-b color_g">
                        <p>文艺</p>
                    </a></li>
                    <li  ui-sref="tabs.list"><a class="button button-icon icon ion-social-reddit color_k">
                        <p>创意</p>
                    </a></li>
                    <li  ui-sref="tabs.list"><a class="button button-icon icon ion-ios-rose color_j">
                        <p>可爱</p>
                    </a></li>
                </ul>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>