<ion-view hide-nav-bar="true">
    <!--ionHeader 头部区域-->
    <ion-header-bar class="bar-energized item-input-inset">
        <label class="item-input-wrapper border-radius-20 bg-white">
            <input type="search" placeholder="纪念日">
            <button class="button button-clear button-icon ion-ios-search button-assertive"> </button>
        </label>
    </ion-header-bar>
<!--ionContent 内容区域-->
<ion-content class="has-footer" id="list">
    <ul>
        <li>
            <img src="images/4.jpg"/>
            <div class="price">¥34</div>
            <p>情侣款真空戒指真空戒指真空真空戒指真空戒指戒指</p>
            <span>628人收藏</span>
            </li>
        <li>
            <img src="images/4.jpg"/>
            <div class="price">¥34</div>
            <p>情侣款真空戒指真空戒指真空真空戒指真空戒指戒指</p>
            <span>628人收藏</span>
        </li>
        <li>
            <img src="images/4.jpg"/>
            <div class="price">¥34</div>
            <p>情侣款真空戒指真空戒指真空真空戒指真空戒指戒指</p>
            <span>628人收藏</span>
        </li>
        <li>
            <img src="images/4.jpg"/>
            <div class="price">¥34</div>
            <p>情侣款真空戒指真空戒指真空真空戒指真空戒指戒指</p>
            <span>628人收藏</span>
        </li>
        <li>
            <img src="images/4.jpg"/>
            <div class="price">¥34</div>
            <p>情侣款真空戒指真空戒指真空真空戒指真空戒指戒指</p>
            <span>628人收藏</span>
        </li>

    </ul>
</ion-content>
</ion-view>