<ion-view hide-nav-bar="true">
    <!--头部区域-->
    <ion-header-bar class="bar-energized item-input-inset">
        <label class="item-input-wrapper border-radius-20 bg-white">
            <input type="search" placeholder="纪念日">
            <button class="button button-clear button-icon ion-ios-search button-assertive"> </button>
        </label>
    </ion-header-bar>
    <!--内容区域-->
    <ion-content id="classily">
        <ion-list>
            <ion-item>
                <ul class="w-top">
                    <li  ui-sref="tabs.list"><a class="button button-icon icon ion-ios-unlocked color_a">
                        <p>私人订制</p>
                    </a></li>
                    <li><a class="button button-icon icon ion-social-octocat color_b">
                        <p>分期赠送</p>
                    </a></li>
                    <li><a class="button button-icon icon ion-pricetags color_c">
                        <p>促销特惠</p>
                    </a></li>
                </ul>
            </ion-item>
            <ion-item class="item-divider">热搜榜</ion-item>
            <ion-item class="hot-s">
                <i class="icon ion-home color_a ion-thumbsup"></i>手工洗桑拿观测
                <span class="f_right">3333次</span>
            </ion-item>
            <ion-item class="hot-s">
                <i class="icon ion-home color_a ion-thumbsup"></i>手工洗桑拿观测
                <span class="f_right">3333次</span>
            </ion-item>
            <ion-item class="hot-s">
                <i class="icon ion-home color_a ion-thumbsup"></i>手工洗桑拿观测
                <span class="f_right">3333次</span>
            </ion-item>
            <ion-item class="hot-s">
                <i class="icon ion-home color_g ion-thumbsup"></i>手工洗桑拿观测
                <span class="f_right">3333次</span>
            </ion-item>
            <ion-item class="hot-s">
                <i class="icon ion-home color_g ion-thumbsup"></i>手工洗桑拿观测
                <span class="f_right">3333次</span>
            </ion-item>
            <ion-item class="item-divider item-button-right">历史搜索记录
                <button class="button button-icon">清空</button></ion-item>
            <ion-item class="item-icon-right">
                手工相册
                <i class="button button-icon icon ion-android-delete"></i>
            </ion-item>
            <ion-item class="item-icon-right">
                手工相册
                <i class="button button-icon icon ion-android-delete"></i>
            </ion-item>
            <ion-item class="item-icon-right">
                手工相册
                <i class="button button-icon icon ion-android-delete"></i>
            </ion-item>
            <ion-item class="item-icon-right">
                手工相册
                <i class="button button-icon icon ion-android-delete"></i>
            </ion-item>
            <ion-item class="item-icon-right">
                手工相册
                <i class="button button-icon icon ion-android-delete"></i>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>
