<ion-view hide-nav-bar="true">
    <!--ionHeader 头部区域-->
    <ion-header-bar class="bar-energized item-input-inset">
        <div class="title">个人</div>
    </ion-header-bar>
    <!--ionContent 内容区域-->
    <ion-content id="user" >
        <div class="list">
            <dl class="item head item-button-right clearfix">
                <dt><img src="images/TB1_100x100.jpg"></dt>
                <dd>
                    <h2>LOW森林</h2>
                    <b>距离27岁生日还有<span class="c_red">206天</span></b>
                    <p>2016年9月28日 星期六</p>
                </dd>
                <button class="button button-icon icon mt_20 ion-ios-arrow-right color_l"></button>
            </dl>
        </div>

        <div class="list">
            <a class="item item-icon-left "  ui-sref="tabs.cart">
                <i class="icon ion-ios-list-outline color_b"></i>
                我的订单
                <!--<i class="icon ion-ios-arrow-right color_l "></i>-->
            </a>
            <a class="item item-icon-left  "  ui-sref="tabs.cart">
                <i class="icon ion-ios-cart-outline color_g"></i>
                购物车
                <!--<i class="icon ion-ios-arrow-right color_l"></i>-->
            </a>
            <a class="item item-icon-left ">
                <i class="icon ion-ios-browsers-outline  color_d"></i>
                我的收藏
                <!--<i class="icon ion-ios-arrow-right color_l"></i>-->
            </a>
            <a class="item item-icon-left">
                <i class="icon ion-ios-pricetags-outline c_red"></i>
                我的钱包
                <!--<i class="icon ion-ios-arrow-right color_l"></i>-->
            </a>
        </div>
        <div class="list">
            <a class="item item-icon-left">
                <i class="icon ion-ios-people-outline color_g"></i>
                我的好友
                <!--<i class="icon ion-ios-arrow-right color_l"></i>-->
            </a>
            <a class="item item-icon-left">
                <i class="icon ion-ios-stopwatch-outline color_k"></i>
                我的提醒
                <!--<i class="icon ion-ios-arrow-right color_l"></i>-->
            </a>
        </div>
        <div class="list">
            <a class="item item-icon-left">
                <i class="icon ion-ios-gear-outline color_l"></i>
                设置
                <!--<i class="icon ion-ios-arrow-right color_l"></i>-->
            </a>
        </div>

    </ion-content>
</ion-view>

